/**
	Doadores
*/

.userPopout-xaxa6l[data-user-id="193188089756123136"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="193188089756123136"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="292355615798591488"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="292355615798591488"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="281376608038813696"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="281376608038813696"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="269939624401436672"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="269939624401436672"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="229598810614136832"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="229598810614136832"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="409639495030538250"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="409639495030538250"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="303880582331629569"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="303880582331629569"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="442661470770167838"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="442661470770167838"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="148883925270396929"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="148883925270396929"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="ID001"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="ID001"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="233787027517210624"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="233787027517210624"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="751092600890458203"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="751092600890458203"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="289782983357890571"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="289782983357890571"] .profileBadges-ohc0Vu::before,
.userPopout-xaxa6l[data-user-id="478881945020006402"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="478881945020006402"] .profileBadges-ohc0Vu::before {
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/attachments/755137948529328138/897267532589834280/sparkles_2728.png") center/100% no-repeat;
}

.member-3-YXUe .wrapper-3t9DeA[data-user-id="193188089756123136"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="193188089756123136"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="292355615798591488"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="292355615798591488"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="281376608038813696"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="281376608038813696"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="269939624401436672"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="269939624401436672"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="229598810614136832"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="229598810614136832"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="409639495030538250"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="409639495030538250"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="303880582331629569"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="303880582331629569"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="562386647828791311"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="562386647828791311"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="442661470770167838"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="442661470770167838"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="148883925270396929"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="148883925270396929"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="ID001"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="ID001"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="233787027517210624"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="233787027517210624"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="751092600890458203"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="751092600890458203"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="289782983357890571"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="289782983357890571"]::before,
.member-3-YXUe .wrapper-3t9DeA[data-user-id="478881945020006402"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="478881945020006402"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: -3px;
  left: -5px;
  z-index: 2;
  background: url("https://cdn.discordapp.com/attachments/755137948529328138/897267532589834280/sparkles_2728.png") no-repeat;
  background-size: 85%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}

.message-2qnXI6[data-user-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="193188089756123136"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="193188089756123136"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="193188089756123136"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="193188089756123136"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="193188089756123136"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="193188089756123136"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="193188089756123136"] .username-2b1r56,
.root-3QyAh1[data-user-id="193188089756123136"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #000000 0%, #ffffff 50%, #000000 100%);
}

.message-2qnXI6[data-user-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="281376608038813696"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="281376608038813696"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="281376608038813696"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="281376608038813696"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="281376608038813696"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="281376608038813696"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="281376608038813696"] .username-2b1r56,
.root-3QyAh1[data-user-id="281376608038813696"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

.message-2qnXI6[data-user-id="292355615798591488"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="292355615798591488"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="292355615798591488"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="292355615798591488"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="292355615798591488"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="292355615798591488"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="292355615798591488"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="292355615798591488"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="292355615798591488"] .username-2b1r56,
.root-3QyAh1[data-user-id="292355615798591488"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #ffe23b, #a18400, #ffe23b);
}

.message-2qnXI6[data-user-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="269939624401436672"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="269939624401436672"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="269939624401436672"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="269939624401436672"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="269939624401436672"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="269939624401436672"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="269939624401436672"] .username-2b1r56,
.root-3QyAh1[data-user-id="269939624401436672"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #360167, #6B0772, #AF1281, #CF268A, #AF1281, #6B0772, #360167);
}

.message-2qnXI6[data-user-id="229598810614136832"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="229598810614136832"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="229598810614136832"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="229598810614136832"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="229598810614136832"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="229598810614136832"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="229598810614136832"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="229598810614136832"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="229598810614136832"] .username-2b1r56,
.root-3QyAh1[data-user-id="229598810614136832"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
    background-image: linear-gradient(56deg, #dfc13f 0%, #f63939 33%, #3e099d 66%, #dfc13f 99%);
}

.message-2qnXI6[data-user-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="409639495030538250"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="409639495030538250"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="409639495030538250"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="409639495030538250"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="409639495030538250"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="409639495030538250"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="409639495030538250"] .username-2b1r56,
.root-3QyAh1[data-user-id="409639495030538250"] .username-2b1r56,
.message-2qnXI6[data-user-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="303880582331629569"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="303880582331629569"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="303880582331629569"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="303880582331629569"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="303880582331629569"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="303880582331629569"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="303880582331629569"] .username-2b1r56,
.root-3QyAh1[data-user-id="303880582331629569"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

.message-2qnXI6[data-user-id="562386647828791311"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="562386647828791311"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="562386647828791311"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="562386647828791311"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="562386647828791311"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="562386647828791311"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="562386647828791311"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="562386647828791311"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="562386647828791311"] .username-2b1r56,
.root-3QyAh1[data-user-id="562386647828791311"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(56deg, #dfc13f 0%, #f63939 33%, #3e099d 66%, #dfc13f 99%);
}

.message-2qnXI6[data-user-id="442661470770167838"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="442661470770167838"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="442661470770167838"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="442661470770167838"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="442661470770167838"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="442661470770167838"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="442661470770167838"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="442661470770167838"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="442661470770167838"] .username-2b1r56,
.root-3QyAh1[data-user-id="442661470770167838"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #fcb2d7 0%, black 50%, #fcb2d7 100%);
}

.message-2qnXI6[data-user-id="148883925270396929"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="148883925270396929"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="148883925270396929"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="148883925270396929"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="148883925270396929"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="148883925270396929"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="148883925270396929"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="148883925270396929"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="148883925270396929"] .username-2b1r56,
.root-3QyAh1[data-user-id="148883925270396929"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, black 0%, blue 25%, black 50%, #7b00ff 75%, black 100%);
}

.message-2qnXI6[data-user-id="ID001"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="ID001"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="ID001"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="ID001"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="ID001"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="ID001"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="ID001"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="ID001"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="ID001"] .username-2b1r56,
.root-3QyAh1[data-user-id="ID001"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: radial-gradient(circle, #b5ffd8 0%, #ffb840 12%, #b5ffd8 30%, #ffb840 51%, #b5ffd8 70%, #ffb840 100%);
}

.message-2qnXI6[data-user-id="233787027517210624"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="233787027517210624"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="233787027517210624"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="233787027517210624"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="233787027517210624"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="233787027517210624"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="233787027517210624"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="233787027517210624"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="233787027517210624"] .username-2b1r56,
.root-3QyAh1[data-user-id="233787027517210624"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #ffd89b 0%, #19547b 50%, #ffd89b 100%);
}

.message-2qnXI6[data-user-id="751092600890458203"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="751092600890458203"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="751092600890458203"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="751092600890458203"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="751092600890458203"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="751092600890458203"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="751092600890458203"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="751092600890458203"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="751092600890458203"] .username-2b1r56,
.root-3QyAh1[data-user-id="751092600890458203"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #D65E94 0%, #2AB5EA 50%, #D65E94 100%);
}

.message-2qnXI6[data-user-id="289782983357890571"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="289782983357890571"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="289782983357890571"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="289782983357890571"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="289782983357890571"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="289782983357890571"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="289782983357890571"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="289782983357890571"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="289782983357890571"] .username-2b1r56,
.root-3QyAh1[data-user-id="289782983357890571"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #19191b 0%, #deaf9d 33%, #e0e7e8 66%, #19191b 100%);
}

.message-2qnXI6[data-user-id="478881945020006402"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="478881945020006402"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="478881945020006402"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="478881945020006402"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="478881945020006402"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="478881945020006402"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="478881945020006402"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="478881945020006402"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="478881945020006402"] .username-2b1r56,
.root-3QyAh1[data-user-id="478881945020006402"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #19191b 0%, #deaf9d 33%, #eb6f92 66%, #19191b 100%);
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}

/**
	Servidor
*/

@charset "UTF-8";
.container-3w7J-x[aria-label*="Empíreo"] .header-2V-4Sw {
  height: 150px;
  padding: 16px;
  align-items: flex-start;
}


.container-3w7J-x[aria-label*="Empíreo"] .header-2V-4Sw::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("https://cdn.discordapp.com/attachments/777528718855110696/898734965422948382/Banner.png") center/cover no-repeat;
  -webkit-mask: linear-gradient(#000000, transparent);
}

.membersGroup-v9BXpm[aria-label*="Sentinela👑"] ~ .member-3-YXUe .roleColor-rz2vM0[style="color: rgb(252, 225, 0);"] {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #19191b 0%, #deaf9d 33%, #eb6f92 66%, #19191b 100%);
}