/*
	Servidor
*/

/*@charset "UTF-8";
.container-3w7J-x[aria-label*="Empíreo"] .header-2V-4Sw {
  height: 150px;
  padding: 16px;
  align-items: flex-start;
}


.container-3w7J-x[aria-label*="Empíreo"] .header-2V-4Sw::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("https://cdn.discordapp.com/attachments/777528718855110696/903778222947307520/Banner.png") center/cover no-repeat;
  -webkit-mask: linear-gradient(#000000, transparent);
}

.container-3w7J-x[aria-label^="Empíreo"] + .panels-j1Uci_ > .container-3baos1 .button-14-BFJ {
  color: #eb3838 !important;
}*/

/*
	Nomes coloridos por cargo
*/

/*Beep Boop🤖*/
.member-3-YXUe .roleColor-rz2vM0[style="color: rgb(114, 137, 218);"] {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  background-image: linear-gradient(-60deg, #3A32DF 0%, #3149E3 10%, #315CE4 20%, #3B6DE3 30%, #4B7CE0 40%, #4B7CE0 50%, #3B6DE3 60%, #315CE4 70%, #3149E3 80%, #3A32DF 90%, #3A32DF 100%);
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
}

/*
	Nomes coloridos por ID
*/
/*
	Tet Morningstar
*/
.userPopout-xaxa6l[data-user-id="229598810614136832"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="229598810614136832"] .profileBadges-ohc0Vu::before {
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/attachments/777528718855110696/903779225276915772/Folha.png") center/100% no-repeat;
}

.member-3-YXUe .wrapper-3t9DeA[data-user-id="229598810614136832"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="229598810614136832"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: -3px;
  left: -5px;
  z-index: 2;
  background: url("https://cdn.discordapp.com/attachments/777528718855110696/903779225276915772/Folha.png") no-repeat;
  background-size: 85%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}

.message-2qnXI6[data-user-id="229598810614136832"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="229598810614136832"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="229598810614136832"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="229598810614136832"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="229598810614136832"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="229598810614136832"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="229598810614136832"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="229598810614136832"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="229598810614136832"] .username-2b1r56,
.root-3QyAh1[data-user-id="229598810614136832"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
    background-image: linear-gradient(56deg, #dfc13f 0%, #f63939 33%, #3e099d 66%, #dfc13f 99%);
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}